@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
  font-size: 62.5%
}
body {
    font-family: Pretendard;
    overflow-x: hidden;
}
  
  /* ----------------------------1-------------------------- */

  .banner{
    height: 100vh;
    width: 100vw;

  }
  .banner .competitive{
    background-image: url('img/competitive-1/competitive-banner.png');
    background-position: center center;
    background-size: cover;
    height: 49.074vh;
    width: 100vw;
  }
  .banner .banner-bottom{
      /* background-color: #2a2a2a31; */
      height: 50vh;
      position: relative;

    }
    .banner .banner-bottom .banner-sub{
      /* background-color: #2a2a2a31; */
      width: 100vw;
      height: 30vh;

      position: relative;
      position: absolute;

      bottom: 55%;
      right: 50%;
      transform: translate(50%, 50%);
    }
    .banner .banner-bottom .banner-sub img{
      /* background-color: #2a2a2a31; */
      height: 100%;
      position: absolute;

      left: 40%;
      transform: translate(-100%, 0%);
    }
    .banner .banner-bottom .banner-sub .text-g{
        /* background-color: #2a2a2a31; */
        height: 100%;
        width: 50%;

        
  
        position: relative;
        position: absolute;
  
        right: 55%;
        transform: translate(100%, 0%);
      }
      .banner .banner-bottom .banner-sub .text-g .title{
        /* font-size: 5.208vw; */
        font-size: 9.259vh;
        font-weight: 900;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.17;
        letter-spacing: -0.234vw;
        text-align: left;
        color: #2a2a2a;
      }
      .banner .banner-bottom .banner-sub .text-g .sub-title{

        /* font-size: 1.042vw; */
        font-size: 1.852vh;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.35;
        letter-spacing: normal;
        text-align: left;
        color: #2a2a2a;

        position: absolute;
  
        bottom: 0%;
        transform: translate(0%, 0%);
      }
  /* .banner-route{
    font-size: 1.042vw;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    color: #000;

    position: absolute;
    top: 3.889vh;
    right: 4.740vw;
    transform: translate(0%, 0%);
}
.small-arrow{
    font-size: 0.542vw;

    margin-left: 0.742vw;
    margin-right: 0.742vw;
    margin-bottom: 0.3vw;
}
 */

  /* ----------------------------scroll-section-1-------------------------- */

.section-1{
    /* background-color: #2a2a2a23; */

    width: 100vw;
    height: 235vh;
    margin-top: 3vh;
    position: relative;

}
.scroll-pin-1{
    /* background-color: #2a2a2a23; */
    /* width: 38.073vw; */
    height: 100vh;
    margin-top: -16vh;
    position: absolute;
    /* top: -16.5vh;
    right: -1vw; */
    /* top: -66.5vh;
    transform: translate(50%, 50%); */
    right: 0;
    z-index: 10;
}
.bggray{
    background-color: #f6f6f6;
}
.section-1 .block-g{
    margin-top: 15vh;
}
.section-1 .block-g .scroll-block{
    box-shadow: 0 0.156vw 0.312vw 0 rgba(0, 0, 0, 0.16);
    /* height: 38.073vw;?????? */
    height: 67.685vh;

    width: 100vw;
}
.title-g img{
    /* background-color: #2a2a2a23; */
    height: 34.907vh;
    margin-top: 4.630vh;
    /* padding-left: 4.740vw; */
}
.title-g{
    /* margin: 0 34.427vw 0.417vw 0; */
    /* background-color: #2a2a2a23; */

    padding-left: 4.948vw;
    padding-top: 12.963vh;
}
.red-text{
    opacity: 0.92;
    font-size: 0.885vw;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.18;
    letter-spacing: normal;
    text-align: left;
    color: #d8282f;
}
.main-text{
    font-size: 2.708vw;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.17;
  letter-spacing: normal;
  /* text-align: center; */
  color: #2a2a2a;
}


  /* ----------------------------scroll-section-2-------------------------- */
.title-g-2{
    /* background-color: rgba(0, 0, 0, 0.151); */

    width: 100%;
    height: 100%;

    padding-left: 7.3vw;
    padding-top: 7.963vh;

    position: relative;
}
.title-g-2 .img-g{
    /* background-color: rgba(109, 82, 82, 0.568); */
    width: 100%;
    height: 100%;
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.scroll-pin-2{
    margin-left: -1.5vw;
    /* width: 41.250vw; */
    height: 50.185vh;

    position: absolute;
    top: 55%;
    left: 48%;
    transform: translate(-100%, -50%);
}
.scroll-pic-4{
    /* width: 44.635vw; */
    height: 57.315vh;

    position: absolute;
    top: 49%;
    right: 50%;
    transform: translate(100%, -50%);
}
.section-2{
    /* background-color: rgba(0, 0, 0, 0.151); */
    margin-top: 10vh;
    width: 100vw;
    height: 80vh;
    position: relative;
}
.scroll-block-2{
    box-shadow: 0 0.156vw 0.312vw 0 rgba(0, 0, 0, 0.16);
    height: 79.537vh;
    width: 100vw;
}


  /* ----------------------------section-end client-------------------------- */

.section-end{
    /* background-color: rgba(0, 0, 0, 0.13); */
    /* height: 113.148vh; */
    /* height: 113.148vh; */
    height: calc(40vh + 40vw);
    width: 100vw;

    position: relative;
    overflow: hidden;
}
.section-end img{
    /* width: 100%;
    height: 74.352vh; */
    width: 109.375vw;
    position: absolute;
    bottom: 0%;
    right: 50%;
    transform: translate(50%, 12%);
}
.title-g-end{
    /* background-color: rgba(140, 78, 78, 0.13); */
    padding-top: 19vh;
    color: #525252;
    width: 100vw;

    position: absolute;
    top: 0%;
    /* bottom: 74.352vh; */
    right: 50%;
    transform: translate(50%, 0%);
}
.client{
    /* background-color: rgba(0, 0, 0, 0.13); */

    font-size: 4.208vw;
    font-weight: 800;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.17;
    /* letter-spacing: -0.134vw; */
    text-align: center;
}
.client-text{
    margin-top: 4.537vh;
    font-size: 1.808vw;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.17;
    letter-spacing: -0.134vw;
    text-align: center;

    opacity: 0.8;
}
/* 113.148vw */


  /* ----------------------------scroll-section-3-------------------------- */
  
  .section-3{
    /* height: 67.685vh; */
    width: 100vw;
    height: 300vh;
    margin-top: 20vh;
    position: relative;
  }
  .scroll-block-3{
    box-shadow: 0 0.156vw 0.312vw 0 rgba(0, 0, 0, 0.16);
    height: 67.685vh;
    
    width: 100vw;
  }
  .title-g-3{
    /* background-color: rgba(0, 0, 0, 0.151); */

    width: 100%;
    height: 100%;

    padding-left: 36.198vw;
    padding-top: 7.963vh;

    position: relative;
}
.title-g-3 .img-g{
    /* background-color: rgba(109, 82, 82, 0.568); */
    /* width: 100%; */
    /* height: 100%; */
    height: 33.704vh;
    
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
}
.scroll-pin2-1{
  /* width: 601px; */
  height: 90vh;
  margin-top: -10vh;

  margin-left: 2.083vw;

  /* height: 100vh; */
  /* top: -16.5vh;
  right: -1vw; */
    position: absolute;
    /* top: -52.5vh;
    left: -13vw;
    transform: translate(50%, 50%); */
    z-index: 10;
}

.scroll-pic2-1{
  height: 33.704vh;
  margin-top: 4.537vh;
}
  
  
  /* ----------------------------scroll-section-4-------------------------- */
  .section-4{
    height: 251.019vh;
    /* width: 100vw; */
    /* margin-top: 20vh; */
    /* margin-bottom: 20vh; */
    position: relative;
  }
  .scroll-block-4{
    box-shadow: 0 0.156vw 0.312vw 0 rgba(0, 0, 0, 0.16);
    height: 79.537vh;
    
    width: 100vw;
  }
  .scroll-pin2-2{
    height: 50.093vh;
    margin-top: 16.481vh;
    position: absolute;
    /* float: right; */
    right: 0;
    /* top: -9.5vh;
    transform: translate(50%, 50%); */
    z-index: 10;

    /* filter: blur(5px); */
}

.title-g-4{
  /* margin: 0 34.427vw 0.417vw 0; */
  /* background-color: #2a2a2a23; */

  padding-left: 7.48vw;
  padding-top: 11.019vh;
}
.pic-5{
  margin-top: 10vh;
  height: 37.778vh;
}
.pic-6{
  margin-top: 10vh;
  height: 41.389vh;
}
.pic-7{
  margin-top: 4.722vh;
  height: 46.852vh;
}

body{
  overflow: visible;
}
