header{
    /* max-height: 8.657vh; */
    width: 100%;
    height: 8.657vh;
    /* background-color: rgba(255, 74, 74, 0.241); */
  }
  .main-header{
    background-color: #fff;
    /* max-height: 8.657vh; */
    width: 100%;
    height: 8.657vh;

    padding-left: 5.13vw;
    padding-right: 4.313vw;

    box-shadow: 0 0.163vw 0.313vw 0 rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 21;

    display: flex;
    justify-content: space-between;
  }
  header:hover .sub-header{
    display: flex;
  }

  /* -------------------hidden header--------------------- */

.hidden-header{
    /* display: none; */
        /* background-color: rgba(255, 74, 74, 0.241); */
    width: 100%;
    height: 16.657vh;
    position:fixed;
    top: -10%;
    left: 0;
    z-index: 10;
    transition: all 1s;

    /* padding-bottom: 4vh; */

}
.hidden-header:hover::before{
    transform: translateY(0);

}
.hidden-header:hover{
    /* background-color: rgba(74, 110, 255, 0.241); */
    transform: translateY(59%);
}
/* .header-navbar:hover . */
  /* -------------------hidden header--------------------- */
    

  .logo{
    /* background-color: rgba(255, 160, 160, 0.815); */
   
    display: flex;
    justify-content: center;
    align-items: center; 

  }
  .logo img{
  width: 11.25vw;
  }
  
  .header-icon{
    /* background-color: rgba(255, 197, 197, 0.474); */
    
    margin-left: 1.714vw;
    display: flex;
    justify-content: center;
    align-items: center;  
    color: #2a2a2a;
  }
  .header-icon img{
    width: 2.13vw;
  }
 
  .navbars-g{
    /* background-color: #2a2a2a48; */
    width: 76vw;
    height: 100%;

    display: flex;
    flex-direction: row-reverse;
    
  }
  .header-navbar{
    /* background-color: rgba(255, 160, 160, 0.815); */
    
    width: 8.93vw;
    height: 100%;
    float: right;
    
    font-size: 1.198vw;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center; 
    color: #000;

    flex-direction: column;
    }
    .header-navbar:hover{
    color: #d61f26;
    }

    .sub-navbar{
        /* background-color: rgba(255, 160, 160, 0.815); */
        
        width: 8.93vw;
        height: 100%;
        float: right;
        
        font-size: 0.885vw;
        font-weight: 300;
        font-stretch: normal;
        font-style: normal;
        
        text-align: center;
        display: flex;
        /* justify-content: center; */
        align-items: center; 
        color: #2a2a2a;
    
        flex-direction: column;
        }
        /* .sub-navbar:hover{
        color: #d61f26;
        } */


    /* ----sub---- */
/* a{
    all: unset;
} */
    .sub-header{
        display: none;
        background-color: rgba(255, 255, 255, 0.97);
        width: 100vw;
        height: 39.343vh;

        /* margin-top: 8.657vh; */
        padding-left: 15.9vw;
          
        position: absolute;
        z-index: 20;
      }
      .sub-navbar a{
        text-decoration: inherit;

        font-size: 0.885vw;
        font-weight: 300;
        font-stretch: normal;
        font-style: normal;
        text-align: center;
        display: flex;

        margin-top: 2.037vh;
        /* justify-content: center; */
        align-items: center; 
        color: #2a2a2a;
      }
      .sub-navbar a:hover{
        
        color: #d61f26;
    }




    