@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
  font-size: 62.5%
}
body {
    font-family: Pretendard;
    overflow-x: hidden;
}
/* ------------header-------------------------------------- */
header{
  /* max-height: 8.657vh; */
  width: 100%;
  height: 8.657vh;
  /* background-color: rgba(255, 74, 74, 0.241); */
}
.main-header{
  background-color: #fff;
  /* max-height: 8.657vh; */
  width: 100%;
  height: 8.657vh;

  padding-left: 5.13vw;
  padding-right: 4.313vw;

  box-shadow: 0 0.163vw 0.313vw 0 rgba(0, 0, 0, 0.1);
  position: relative;
  z-index: 21;

  display: flex;
  justify-content: space-between;
}
.main-header-black{
  background-color: #1e1e1e;
}
header:hover .sub-header{
  display: flex;
}

/* -------------------hidden header--------------------- */

.hidden-navbar:hover .hidden-sub-header{
  display: flex;
  /* background-color: rgb(255, 255, 255); */
  width: 100vw;
  height: 39.343vh;
  opacity: 0.97;

  margin-top: 8.657vh;
  /* margin-top: 47.657vh; */
  padding-left: 15.9vw;
  margin-left: -5.15vw;
  position: fixed;
  z-index: 20;
}
.hidden-sub-header{
  display: none;
  /* background-color: rgb(255, 255, 255);
  width: 100vw;
  height: 39.343vh;
  opacity: 0.97;

  margin-top: 8.657vh;
  padding-left: 15.9vw;
    
  position: fixed;
  z-index: 20; */
}
.hidden-header{
  /* display: none; */
      /* background-color: rgba(255, 74, 74, 0.241); */
  width: 100%;
  height: 16.657vh;
  position:fixed;
  top: -10%;
  left: 0;
  z-index: 10;
  transition: all 1s;

  /* padding-bottom: 4vh; */

}
.hidden-header:hover::before{
  transform: translateY(0);

}
.hidden-header:hover{
  /* background-color: rgba(74, 110, 255, 0.241); */
  transform: translateY(59%);
}
/* .header-navbar:hover . */
/* ----------------------------------------@@@@@@@@@---------------- */
/* .hidden-navbar:hover + .hidden-sub-header{
  background-color: red;
  display: flex;
} */
/* ----------------------------------------@@@@@@@@@---------------- */


/* -------------------hidden header--------------------- */
  

.logo{
  /* background-color: rgba(255, 160, 160, 0.815); */
 
  display: flex;
  justify-content: center;
  align-items: center; 
  width: 11.25vw;

}
.logo img{
width: 8.250vw;
/* width: 11.25vw; */
}

.header-icon{
  /* background-color: rgba(255, 197, 197, 0.474); */
  
  margin-left: 1.714vw;
  display: flex;
  justify-content: center;
  align-items: center;  
  color: #2a2a2a;
}
.header-icon img{
  width: 2.13vw;
}

.navbars-g{
  /* background-color: #2a2a2a48; */
  width: 76vw;
  height: 100%;

  display: flex;
  flex-direction: row-reverse;
  
}
.header-navbar{
  /* background-color: rgba(255, 160, 160, 0.815); */
  
  width: 8.93vw;
  height: 100%;
  float: right;
  
  font-size: 1.198vw;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center; 
  color: #000;

  flex-direction: column;
  }
  .header-navbar:hover{
  color: #d61f26;
  }

  .sub-navbar{
      /* background-color: rgba(255, 160, 160, 0.815); */
      
      /* width: 8.93vw; */
      height: 100%;
      float: right;
      
      font-size: 0.885vw;
      font-weight: 300;
      font-stretch: normal;
      font-style: normal;
      
      text-align: left;
      display: flex;
      /* justify-content: center; */
      align-items: left; 
      color: #2a2a2a;
  
      flex-direction: column;
      }
      .sub-navbar-black{
        /* background-color: rgba(255, 160, 160, 0.815); */
        
        /* width: 8.93vw; */
        height: 100%;
        float: right;
        
        font-size: 0.885vw;
        font-weight: 300;
        font-stretch: normal;
        font-style: normal;
        
        text-align: left;
        display: flex;
        /* justify-content: center; */
        align-items: left; 
        color: #ffffff;
    
        flex-direction: column;
        }
.sub-header .navbars-g .sub-5{
  width: 7.6vw;
}
.sub-header .navbars-g .sub-4{
  width: 9vw;
}
.sub-header .navbars-g .sub-3{
  width: 7.9vw;
}
.sub-header .navbars-g .sub-2{
  width: 8.5vw;
}
.sub-header .navbars-g .sub-1{
  width: 9.8vw;
}


  /* ----sub---- */
/* a{
  all: unset;
} */
  .sub-header{
      display: none;
      background-color: rgb(255, 255, 255);
      width: 100vw;
      height: 39.343vh;
      opacity: 0.97;

      /* margin-top: 8.657vh; */
      padding-left: 15.9vw;
        
      position: absolute;
      z-index: 20;
    }
    
    .sub-header-black{
      background-color: #1e1e1e;
      opacity: 0.97;
    }
    .sub-navbar-black a{
      text-decoration: inherit;
      
      font-size: 0.677vw;
      /* font-size: 0.885vw; */
      font-weight: 300;
      font-stretch: normal;
      font-style: normal;
      text-align: center;
      display: flex;

      margin-top: 2.037vh;
      /* justify-content: center; */
      align-items: center; 
      color: #ffffff;
    }
    .sub-navbar a{
      text-decoration: inherit;

      font-size: 0.677vw;
      /* font-size: 0.885vw;?????? */
      font-weight: 300;
      font-stretch: normal;
      font-style: normal;
      text-align: center;
      display: flex;

      margin-top: 2.037vh;
      /* justify-content: center; */
      align-items: center; 
      color: #2a2a2a;
    }
    .sub-navbar a:hover{
      
      color: #d61f26;
  }

  .sub-navbar-black a:hover{
      
    color: #d61f26;
}



  


/* ----------------------------------footer-------------------------------------- */
footer{
    width: 100vw;
  /* height: 33.611vh; */
  height: 16.111vh;
  /* 16.111vh */
  /* padding: 3.542vw 5.604vw 3.906vw 7.240vw; */
  padding: 4.074vh 7.292vw 4.074vh 7.292vw;
  background-color: #2a2a2a;
  position: relative;
  }
  .footer2-text{
    font-size: 0.625vw;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.14;
    letter-spacing: normal;
    text-align: left;
    color: #fff;
  }
  .footer-mr41{
    margin-right: 2.135vw;
  }
  .footer2-line{
    width: 0vw;
  /* height: 1.005vw; */
  /* line-height: 0.1; */

  margin-left: 1.974vw;
  margin-right: 1.974vw;
  border: solid 0.052vw #8d8d8d;
  /* float: left; */
  }
  .footer2-smartcube{
    margin: 2.760vw 4.167vw 0.833vw 0;
  font-size: 0.990vw;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.16;
  letter-spacing: normal;
  text-align: left;
  color: #fff;
  }
  .footer2-smalltext{
    width: 39.896vw;
  /* height: 10.093vh; */
  margin: 0.833vw 0 0 0;
  font-size: 0.521vw;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.88;
  letter-spacing: normal;
  text-align: left;
  color: #8e8e8e;
  }
  .footer2-logo{
    /* 183 27.41 */
    width: 9.531vw;
    position: absolute;
    right: 7.292vw;
    bottom: 6.787vh;
  }



/* bgs product-detail-01 */
.bg-blue{
    background-color: #beeaf7;
}
.bg-lightblue{
    background-color: #eaf6fa;
}
.bg-purple{
    background-color: #c4a0ee;
}
.bg-lightpurple{
    background-color: #eee9f4; 
}
.bg-d4{
    background-color: #5977b4;
    color: white;
}
.bg-darkblue2{
    background-color: #596fbb;
}
.bg-custom{
  background-color: #f6f6f6;
}


.bg-black{
  background-color: #000000;
}
.bg-d6{
  position:absolute;
  width: 100vw;
  height: 200vh;
  background-image: linear-gradient(to bottom, #e9e1d1, rgba(242, 240, 234, 0.13));
}
.bg-d7{
  /* background-color: #ffffff; */
}
.bg-d8{
  background-color: #4f4f4f;
  color: white;
}
.bg-d9{
  background-color: #474747;
  color: white;
}
.bg-10{
    background-color: #5d88ad;
    color: white;
}
.bg-d11{
  background-color: #474747;
  color: white;
}
.bg-d12{
    background-color: #dbdbdb;
}
.bg-d13{
  background-color: #27c7c1;
}
.bg-d14{
    background-color: #54cbd8;
    color: white;
}
.bg-d15{
    background-color: #956796;
    color: white;
}
.bg-d16{
    background-color: #999999;
    color: white;
}
.bg-d17{
  background-color: #dbdbdb;
}
.bg-d18{
  background-color: #474747;

  color: white;
}
.bg-d19{
  background-color: #474747;
  color: white;
}

  /* text colors */
  .color-white{
    color: white;
  }
  .color-blue1{
    color: #3387bf;
  }
  .color-purple{
    color: #76659b;
  }
  .color-purple2{
    color: #535383;
  }
  .color-blue2{
    color: #337ec9; 
  }
  .color-red{
    color: #d61f26;
  }
  .color-yellow{
    color: #cba764;
  }
  .color-blue3{
    color: #1a4589;
  }
  .text-p4{
    color: #2f7eb2;
  }

  .text-blue{
    color: #17aed3;
  }
  .text-purple{
    color: #944bbf;
  }
  .text-blue2{
    color: #1b4fa2;
  }
  .text-d10{
    color:#5d88ad;
  }
  .text-p7-2,
  .text-d13{
    color: #02948e;
  }
  .text-p7-3,
  .text-d14{
    color: #27b0bf;
  }
  .text-p7-4,
  .text-d15{
    color: #88438a;
  }
  .text-d5,
  .text-d6,
  .text-d7,
  .text-d8,
  .text-d9,
  .text-d11,
  .text-d16,
  .text-d17,
  .text-d18,
  .text-d19{
    color: #d61f26;
  }
  

  /* 리모컨 */
.remote{
  /* background-color: rgba(4, 0, 255, 0.487); */

  position: fixed;
  top:40%;
  right: 10%;
  z-index: 50;
  
}
.remote-g{
  background-color: rgba(0, 255, 149, 0.289);
  position: fixed;

  width: 18.519vh;
  height: 2vh;
  transform: matrix(0, -1, 1, 0, 0, 0);
  top: 31%;
  right: 15.23vh;
  /* right: 10.3%; */
  /* box-shadow: 0px 0px 1vw rgba(0, 0, 0, 0.288); */


}
.remote-g .remote-top{
  background-color: #2A2A2A;
  color: #FFFFFF;
  float: left;
  font-size: 0.469vw;

  width: 20%;
  height: 100%;

  text-align: center;
  padding-top: 0.5vh;
  /* vertical-align: middle; */
  /* height: 100%; */
  
}
.remote-g .remote-product{
  background-color: #FFFFFF;
  float: left;
  font-size: 0.469vw;
  width: 80%;
  height: 100%;

  text-align: center;
  /* vertical-align: middle; */
  padding-top: 0.5vh;


  /* width: 23px;
  height: 139px;
  transform: matrix(0, -1, 1, 0, 0, 0); */
  /* position: relative; */

  /* width: 0;
  height: 0; */
  /* border-bottom: 2vh solid transparent;
  border-left: 1.198vh solid pink;
  border-right: 10vh solid transparent; */

  /* border-bottom: 2vh solid transparent;
  border-left: 1.198vh solid pink;
  border-right: 10vh solid transparent; */

  /* border-top: 7.188vw solid pink;
  border-right: 1.198vw solid pink;
  border-bottom: 1vw solid transparent; */

  /* width: 23px;
height: 139px;
background: #FFFFFF 0% 0% no-repeat padding-box; */
}

.remote-product-arrow{
  width: 5px;
height: 9px;
/* transform: matrix(-1, 0, 0, -1, 0, 0); */
/* UI Properties */
border: 1px solid #000000;
}

.remote-body{
  background-color: #ffffff;
  position: fixed;

  width: 23.519vh;
  height: 100vh;

  top:0;
  right: 0;

  padding-top: 13.148vh;
  padding-left: 1.823vw;
  
}
.remote-body .remote-name{
  /* font-size: 1.823vw; */
  font-size: 1.302vw;
  font-weight: 600;
  /* margin-top: 13.148vw;
  margin-left: 1.823vw; */
  margin-bottom: 6.667vh;
  
}
.remote-body .remote-nav-g{

}
.remote-body .remote-nav-g .remo{
  color: #888888;
  font-size: 0.990vw;
  margin-bottom: 3.981vh;

  /* opacity: 0.5; */
}
.remote-body .remote-nav-g .remo a{
  color: #888888;
  text-decoration-line: none;
}
.remote-body .remote-nav-g .curr a{
  color: #2A2A2A;
  text-decoration-line: none;
}
.remote-body .remote-nav-g .remo a:hover{
  color: #2A2A2A;
  text-decoration-line: none;
}
.remote-body .remote-nav-g .remo:hover{
  color: #2A2A2A;
}
.remote-body .remote-nav-g .remo .remo-g{
  display: none;
  flex-direction: column;
}
.remote-body .remote-nav-g .remo:hover .remo-g{
  display: flex;
}
.remote-body .remote-nav-g .remo:hover .remo-g .remo-sub:hover{
  color: #2A2A2A;
}
.remote-body .remote-nav-g .curr{
  color: #2A2A2A;
  font-weight: 600;
}

.remote-body .remote-nav-g .remo .remo-g .remo-sub{
  color: #888888;
  font-size: 0.781vw;
  font-weight: 500;

  margin-top:1.852vh;
  margin-left: 0.7vh;
}