
/* ---1--- */
.section-a{
    background-color: #1e1e1e;
    width: 100vw;
    height: 48.981vh;

    margin-bottom: 0.741vh;
}

/* -2---2- */
.section-b{
    width: 100vw;
    height: 48.981vh;
    margin-bottom: 0.741vh;

    display: flex;
    justify-content: space-between;
    overflow: hidden;
}

.section-c{
    background-color: #1e1e1e;
    width: 100vw;
    height: 84.815vh;
    margin-bottom: 0.741vh;

    display: flex;
    position: relative;


}

.section-scroll{
    width: 100vw;
    height: 48.981vh;
    margin-bottom: 0.741vh;
}

.anim:hover img{
    transform: scale(1.06);
    transition: all 0.5s;
}
.anim:hover .text-4{
    text-decoration: underline;
}


/* ---------------------------a-------------------------- */

.section-a img{
    height: 31.204vh;
    margin: auto;
    display: block;
}
.text-g{
    padding-top: 6.019vh;
    width: 100%;
    height: 36%;
    position: relative;
    z-index: 1;
}


.text-1{
    font-size: 2.083vw;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.18;
    letter-spacing: normal;
    text-align: center;
}
.text-2{
    font-size: 0.625vw;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: center;

    margin-top: 1.019vh;
}
.text-3{
    font-size: 0.521vw;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.1;
    letter-spacing: normal;
    text-align: center;

    opacity: 0.6;
    margin-top: 0.833vh;
}
.text-4{
    font-size: 0.469vw;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: center;
    color: #cd4545;

    margin-top: 1.481vh;
}
a{
    text-decoration-line: none;

}

/* ---------------------------b-------------------------- */
.section-b .block{
    width: 49.792vw;
    height: 100%;
}
.section-b .text-g{
    padding-top: 6.019vh;
    width: 100%;
    height: 32%;
    position: relative;
    z-index: 1;
}
.bg-landing-gray{
    background-color: #e4e4e4;
    color: #000000;
}
.bg-landing-black{
    background-color: #1e1e1e;
    color: #fff;
}
.bg-landing-black2{
    background-color: #000000;
}

.section-b img{
    height: 61%;
    margin: auto;
    display: block;
    margin-top: 4.5%;

}

.bgimg{
    background-image: url("/img/landing/landing-4-2.png");
    height: 42.130vh;
    position: absolute;
    right: 50%;
    bottom: 50%;
    transform: translate(-50%, -50%);
}

/* ---------------------------c-------------------------- */
.arr {
    position: relative;
}

.arr::after {
    position: absolute;
    left: 0; 
    top: 0; 
    transform: translate(-50%, -50%);
    content: '';
    width: 0.443vw; 
    height: 0.443vw; 
    border-top: 1px solid #d61f26; 
    border-right: 1px solid #d61f26; 
    transform: rotate(45deg); 
}
.product-list{
    width: 15vw;
    height: 100%;
    padding-left: 3.438vw;

    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    list-style: none;

  justify-content: center;

}
.product-list li{
    margin-bottom: 3.611vh;
    font-size: 1.042vw;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    color: #fff;
    cursor: pointer;
}
.product-list .active{
    margin-bottom: 3.611vh;

    font-size: 1.042vw;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    color: #d61f26;
    position: relative;

}
.product-list .active::before{
    position: absolute;
    left: -1.5em;
    top: 0.25em;
    content: '';
    width: 0.5vw;
    height: 0.5vw;
    border-top: 0.14vw solid #d61f26;
    border-right: 0.14vw solid #d61f26;
    transform: rotate(45deg);
}

section {
    height: 100%;
    width: 89.4%;
    position: absolute;
    top: 50%;
    right: 0%;
    transform: translate(-0%, -50%);

    display: none;

}
section:first-of-type {
    display: block;
}

.product-g{
    width: 100%;
    height: 100%;
}
.product-pics{
    height: 71%;
    padding-right: 2.557vw;

    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.h39{height: 39%;}
.h32{height: 32%;}
.product-pics2{
    padding-right: 2.557vw;

    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.product-pics img{
    background-color: #323232;
    height: 23.722vw;
    margin-left: 1.224vw;
    margin-right: 1.224vw;
    filter: grayscale(1);
}
.product-pics2 img{
    background-color: #323232;
    height: 25.056vh;
    margin-left: 0.6vw;
    margin-right: 0.6vw;
    filter: grayscale(1);
}
.product-pics2 img:hover,
.product-pics img:hover{
    filter: grayscale(0);
}
.product-info{
    height: 29%;
    padding-right: 16vw;

    display: flex;
    justify-content: center;
    align-items: center;

}
.product-info .info-1{
    width: 20vw;
    font-size: 2.292vw;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.16;
    letter-spacing: normal;
    text-align: right;
    color: #fff;
}
.product-info .info-2{
    /* background-color: #4592cd33; */
    width: 28vw;
    font-size: 1.042vw;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.45;
    letter-spacing: normal;
    text-align: left;
    color: #fff;

    margin-left: 2.708vw;
    margin-right: 3.333vw;
}
.product-info .info-more{
    width: 6.198vw;
    height: 2.344vw;
    border: solid 0.026vw #161616;
    background-color: #fff;

    font-family: 'Pretendard';
    font-size: 1.042vw;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: center;
    color: #161616;

    cursor:pointer;

}
.product-info .info-more:hover{
    background-color: #D61F26;
    color: #fff;

}


/* ---------------------------scroll-------------------------- */
.pin-g{

}
.section-scroll .hori-scroll{
    width: 267.762vw;
    height: 100%;
    flex-wrap: nowrap;
    overflow: hidden;

}
.section-scroll .hori-scroll .block{
    background-color: #1f1f1f;
    float: left;
    margin-right: 0.5vw;
    width: 32.881vw;
    height: 100%;
}
.section-scroll .hori-scroll .block .block-text-g{
    padding-top: 9%;
    width: 100%;
    height: 43%;
}
.section-scroll .hori-scroll .block img{
    width: 100%;
    height: 57%;
    filter: grayscale(1);
}
.section-scroll .hori-scroll .block img.active{
    width: 100%;
    height: 57%;
    filter: grayscale(0);
}

.block-text-g .text-2{
    font-size: 0.625vw;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: center;

    opacity: 0.8;


    margin-top: 1.019vh;
}
