@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
  font-size: 62.5%
}
body {
    font-family: Pretendard;
    overflow-x: hidden;
}
.container-2{
    /* height: 116.250vh; */
    height: 116.296vh;
  position: relative;

}
.container-6{
    height: 117.870vh;
  position: relative;

}
/* temp */
.temp-header{
  height: 8.657vh;
}

.detail-bg{
    width: 100vw;
  height: 103.241vh;
  position: relative;
  /* opacity: 0.3; */
}
.bg-blue{
    background-color: #beeaf7;
}
.bg-lightblue{
    background-color: #eaf6fa;
}
.banner-img{
    width: 69.375vw;
    /* height: 919px; */
    /* margin: 4.505vw 28.542vw 0 0; */
    object-fit: contain;

    position: absolute;
    top: 55%;
    left: 35%;
    transform: translate(-50%, -50%);
}
/* -------------------------route */
.banner-route{
    font-size: 1.042vw;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    /* text-align: center; */
    color: #000;

    position: absolute;
    top: 4.2%;
    left: 78%;
    transform: translate(-50%, -50%);
}
.small-arrow{
    /* background-color: #3b8ca7; */
    font-size: 0.542vw;

    margin-left: 0.742vw;
    margin-right: 0.742vw;
    margin-bottom: 0.3vw;

}
.banner-text-g{
    width: 32.448vw;

    font-stretch: normal;
    font-style: normal;
    text-align: left;
    color: #000;
    
    position: absolute;
    top: 48%;
    left: 72%;
    transform: translate(-50%, -50%);
}
.banner-text-1{
    margin-bottom: -0.6vw;

    opacity: 0.8;
    font-size: 1.927vw;
    font-weight: 600;
    line-height: 1.19;
    letter-spacing: normal;
}
.banner-text-2{
    font-size: 7.292vw;
    font-weight: bold;
    line-height: 1.18;
    letter-spacing: -0.328vw;
}
.banner-text-3{
    margin-top: 1.6vw;

    opacity: 0.6;
    font-size: 1.406vw;
    font-weight: 500;
    line-height: 1.48;
    letter-spacing: normal;
}
/* -----------------------------2-3----------------------------- */
.pos-down{
    top: 19.4vh;
}


.sec-img-1{
    width: 35.521vw;

    position: absolute;
    top: 55.4%;
    left: 28.6%;
    transform: translate(-50%, -50%);
}
.sec-img-2{
    width: 32.240vw;

    position: absolute;
    top: 54.9%;
    left: 69.5%;
    transform: translate(-50%, -50%);
}

.third-g{
    position: relative;
    height: 100%;
}
.mt-4{
    /* top: 9.8vh; */
    top: 4vh;
}
.mb-6{
    margin-bottom: 9.8vh;
}
.third-img-1{
    width: 30.672vw;

    position: absolute;
    top: 50%;
    left: 27.0%;
    transform: translate(-50%, -50%);
}
.third-img-2{
    width: 44.219vw;

    position: absolute;
    top: 50.5%;
    left: 69.3%;
    transform: translate(-50%, -50%);
}
.third-text1{
    font-size: 1.563vw;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: left;
    color: #231815;

    position: absolute;
    bottom: 6.2%;
    left: 26.9%;
    transform: translate(-50%, -50%);
}
.third-text2{
    font-size: 1.563vw;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: left;
    color: #231815;

    position: absolute;
    bottom: 6.2%;
    left: 71.0%;
    transform: translate(-50%, -50%);
}


/* -----------------------------4--가로---------------------------- */


.scroll-change-detail-1-1{
    /* background-color: rgba(0, 255, 255, 0.179); */
    /* width: 57.500vw; */
    height: 74.259vh;

    position: absolute;
    top: 56.5vh;
    left: 25.3vw;
    transform: translate(-50%, -50%);
}
.scroll-change-detail-1-2{
    /* background-color: rgba(0, 255, 255, 0.179); */
    /* width: 57.500vw; */
    height: 76.111vh;

    position: absolute;
    top: 59.5vh;
    left: 39.3vw;
    transform: translate(-50%, -50%);
}

/* -----------------------------가로card스크롤----------------------------- */
.card-01-1{
    background-image: url('img/product-detail-01/card-1.png');
}
.card-01-2{
    background-image: url('img/product-detail-01/card-2.png');
}
.card-01-3{
    background-image: url('img/product-detail-01/card-3.png');
}
.card-scroll{
    /* background-color: rgba(0, 0, 0, 0.165); */
    height: 101.5vh;
}
.gallery {
	position: absolute;
	width: 100%;
	height: 100vh;
	overflow: hidden;
	/* background-color: #2f2c337e; */
    top: 11%;
}
.cards {
	position: absolute;
	width: 29.583vw;
	height: 29.583vw;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.cards li {
	list-style: none;
	padding: 0;
	margin: 0;
	width: 29.583vw;
	height: 29.583vw;
	text-align: center;
	line-height: 18rem;
	font-size: 2rem;
	font-family: sans-serif;
	/* background-color: #9d7cce; */
	position: absolute;
	top: 0;
	left: 0;
	border-radius: 0.8rem;

    background-position: center bottom;
    background-size: cover;
}
/* .cards li .imgs{
  
} */

.actions {
	position: absolute;
	bottom: 25px;
	left: 50%;
	transform: translateX(-50%);
}

/* ------------------------------scroll-change-group--------------- */

.tempbg{
background-color: #536d766e;
}

.pos-down2{
    top: 16.8vh;
}
.icon-bigger{
    width: 3vw;
    left: 53.5%;
}


/* -----------------------------END----------------------------- */

.pic-g{
    
    position:relative;
    width: 100%;
    height: 100%;
}
.pic-1{
    width: 27.969vw;

    position:absolute;
    top: 49.5%;
    left: 35%;
    transform: translate(-50%, -50%);
}
.pic-2{
    width: 27.969vw;

    position:absolute;
    top: 49.5%;
    left: 65%;
    transform: translate(-50%, -50%);
}
.pic-text{
    opacity: 0.5;
    font-size: 1.302vw;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.56;
    letter-spacing: normal;
    text-align: left;
    color: #231815;
}
.pic-text-pos-1{
    background-color: rgba(0, 0, 0, 0.179);
    position:absolute;
    top: 84%;
    /* bottom: 19%; */
    left: 35%;
    transform: translate(-50%, -50%);
}
.pic-text-pos-2{
    position:absolute;
    top: 84%;
    /* bottom: 19%; */
    left: 65%;
    transform: translate(-50%, -50%);
}






