*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
    /* display: flex;
    align-items: center;
    justify-content: flex-start;
    min-height: 100vh;
    margin: 0;
    overflow: hidden; */
    background-color: rgb(0, 0, 0);

  }
  
  .box {
    display: block;
  }

  section{
    position: sticky;
    height: 100vh;
    /* display: flex;
    justify-content: center;
    align-items: center; */
  }

  .intro{
    background-color: rgb(158, 168, 255);
    padding-top: 250px;
    text-align: center;
  }
  .introOpacity{

  }
  .intro1{
    background-color: rgb(131, 135, 166);
    width: 100hv;
  }
  .intro2{
    background-color: rgb(95, 103, 174);
    width: 100hv;
  }
  .intro3{
    background-color: rgba(45, 50, 94, 0.339);
    padding-top: 180px;
    /* text-align: center; */

  }
  
  .one{
    background-color: #c7202b;
    height: 150vh;
  }
  
  .two{
    background-color: #749f58;
    height: 100vh;
  }
  
  .three{
    background-color: #f3929d;
  }
  
  .four{
    background-color: #7dccea;
  }
  .container{
    /* display: grid;
    grid-template-columns: 1fr 1fr;
    height: 95vh;
    padding: 0rem calc((100vw - 1300) / 2); */
  }

  *::-webkit-scrollbar,
body::-webkit-scrollbar,
html::-webkit-scrollbar{
  background-color: #1e1f26;
  height: 20px;
  width: 20px;
}

*::-webkit-scrollbar-thumb,
body::-webkit-scrollbar-thumb,
html::-webkit-scrollbar-thumb{
  background-color: #383d4d;
  border-radius: 99em;
  border: 6px solid #1e1f26;
}
/* 
@media screen and (max-width: 768px) {
  .container{
    grid-template-columns: 1fr;
  }
} */

.horizon-box{
  background-color: rgba(201, 11, 11, 0.401);
  padding-top: 400px;
  /* text-align: center; */
  position: relative;
  overflow: hidden;
  padding-top: 800px;

}
.h-data{
  background-color: #c7202b42;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width:573px; 
  height: 279px;
  
  /* padding-top: 500px; */
  /* margin:0 auto; */

}
.h-network{
  background-color: #20c77c42;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width:840px; 
  height: 279px;
}
.h-ai{
  background-color: #c7202b42;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width:229px; 
  height: 279px;
}

