@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  html {
    /* scroll-behavior: smooth; */
  }
  body{
    font-family: Pretendard;

  }

  .banner{
    height: 100vh;
    width: 100vw;

  }
  .banner .competitive{
    background-image: url('img/competitive-1/competitive-banner.png');
    background-position: center center;
    background-size: cover;
    height: 49.074vh;
    width: 100vw;
  }
  .banner .banner-bottom{
      height: 50vh;
      position: relative;

    }
    .banner .banner-bottom .banner-sub{
      width: 100vw;
      height: 30vh;

      position: relative;
      position: absolute;

      bottom: 55%;
      right: 50%;
      transform: translate(50%, 50%);
    }
    .banner .banner-bottom .banner-sub img{
      height: 100%;
      position: absolute;

      left: 40%;
      transform: translate(-100%, 0%);
    }
    .banner .banner-bottom .banner-sub .text-g{
        height: 55%;
        width: 50%;
        position: relative;
        position: absolute;
        right: 55%;
        transform: translate(100%, 50%);
      }
      .banner .banner-bottom .banner-sub .text-g .title{
        font-size: 9.259vh;
        font-weight: 900;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.17;
        letter-spacing: -0.234vw;
        text-align: left;
        color: #2a2a2a;
      }
      .banner .banner-bottom .banner-sub .text-g .sub-title{

        font-size: 1.852vh;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.35;
        letter-spacing: normal;
        text-align: left;
        color: #2a2a2a;

        position: absolute;
  
        bottom: 0%;
        transform: translate(0%, 0%);
      }




  .video-box{

    position: relative;
    height: 100vh;
    width: 100%;
    opacity: 1;
}
.black-box{
  background-color: #000;
  position: relative;
  margin-top: -100vh;
    height: 100vh;
    width: 100vw;
}
.video-2,
#p1_scan{
  width: 6.866vw;
  height: 3.946vw;
  margin-bottom: -0.7vw;

}
#p1-1,
#p1-2,
#p1-3,
#p1-4,
#p1-5,
#video-page-1{
  /* width: 60vw; */
    width: 100vw;
    height: 100vh;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    object-fit: cover;
}

.group-1{
  width: 90vw;
  height: 40vh;
  position: absolute;
  top: 50vh;
  left: 50%;
  transform: translate(-50%, 0%);

  opacity: 0;
}
.group-5,
.group-4,
.group-3,
.group-2{

  height: 40vh;
  position: relative;
  top: 50vh;
  left: 50%;
  transform: translate(-50%, 0%);
  opacity: 0;

}
.title-1{

  font-size: 3.646vw;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: center;
  color: #fff;
}
.title-b{
  font-size: 3.646vw;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: center;
  color: #000;
}
.text-1{
  margin-top: 5vh;
  font-size: 1.823vw;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: center;
  color: #fff;
  
}
.text-b{
  margin-top: 5vh;
  font-size: 1.823vw;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: center;
  color: #000;
  
}

#video-page-2{
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}


/* ------------------------------------------------------------------- */
/* ------------ */
/* ------------ */

.video-box-1{
  position: relative;
  height: 100vh;
  width: 100%;
  opacity: 1;
}
.video-box-5,
.video-box-4,
.video-box-3,
.video-box-2{
  position: relative;
  height: 100vh;
  width: 100%;
  opacity: 1;
  
  margin-top: -100vh;

}


/* --------------------------------left remote-------------------------------- */

.left-bar{
padding-left: 1vw;
}

.left-line {
  position: fixed;
  z-index: 41;

  top: 0;
  border-left : 1px solid #ffffff;
  opacity: 0.3;
  height : 100vh;
}

.left-line-mid {
  position: fixed;
  z-index: 42;

  top: 51%;
  margin-left: -2px;
  border-left : 4px solid #ffffff;
  height : 13vh;
}


.list-g{
  position: fixed;

  padding-left: 1.5vw;
  height: 100vh;
  
}

.list-first{

  position: fixed;
  z-index: 93;
  top: 56%;
}
.list-text.on{
  font-size: 1.198vw;
  font-weight: 400;
  letter-spacing: 0px;
  color: #FFFFFF;
  opacity: 1;
}
.list-text{
  position: fixed;
  z-index: 93;
  top: 56%;

  font-size: 0.781vw;
  font-weight: 400;
  letter-spacing: 0px;
  color: #FFFFFF;
  opacity: 0.5;
  transform-origin: 0 100%;
  cursor: pointer;
}
.list-rest{

  position: fixed;
  z-index: 43;
  top: 92%;

}
.list-rest.n2{
  top: 82% !important;
}
.list-rest.n3{
  top: 86% !important;
}
.list-rest.n4{
  top: 90% !important;
}
.list-rest.n5{
  top: 94% !important;
}

