@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body{
    font-family: Pretendard;

  }

  .video-box{
    /* 1 */
    /* background-color: #EF8127; */

    /* sprite */
    background-color: #FD7B1F;

    /* background-color: #e4984b; */
  /* background-color: rgb(255,135,34); */
  /* background-color: #FF8D2C; */
  
  /* background-color: #ed9f4a; */
    /* background-color: #ec9f4a; */
    /* background-color: #ee9f4a; */
    /* background-color: #ff8d2c; */
    /* background-color: rgb(255,141,45); */
    /* background-color: #ee9e4a; */
    /* background-color: #ff8d2c; */
    /* background-color: #fa8f26; */
    /* background-color: #f09843; */
    position: relative;
    height: 100vh;
    width: 100%;
    opacity: 1;
    /* overflow: hidden; */
}
.black-box{
  /* background-color: rgba(0, 0, 0, 0.479); */
  background-color: #000;
  /* position: relative; */
    height: 100vh;
    width: 100vw;
}
#video-2{
  /* 3.646vw */
  width: 6.766vw;
  height: 3.646vw;
margin-bottom: -0.5vw;
  /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover; */

}
#video-page-1{
  /* width: 60vw; */
    width: 100vw;
    height: 100vh;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    object-fit: cover;
}
/* #video-page-2{
  height: 100vh;

  position: absolute;
  top: 18vw;
  left: 50%;
  transform: translate(-50%, -50%);
} */
.group-1{
  /* background-color: #8d5a2a; */

  height: 40vh;
  position: absolute;
  top: 70vh;
  left: 50%;
  transform: translate(-50%, -50%);
}
.group-2{
  /* background-color: #8d5a2a; */

  height: 40vh;
  position: relative;
  top: 70vh;
  left: 50%;
  transform: translate(-50%, -50%);
}
.title-1{
  /* font-size: 3.250vw;
  font-weight: 600;
  letter-spacing: -0.281vw;
  text-align: center;
  color: #fff; */

  font-size: 3.646vw;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.7;
  letter-spacing: normal;
  text-align: center;
  color: #fff;
}
.text-1{
  /* margin-top: 1vw;
  font-size: 1.550vw;
  font-weight: 400;
  text-align: center;
  color: #fff; */

  margin-top: 5vh;
  font-size: 1.823vw;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  /* line-height: 1.83; */
  letter-spacing: normal;
  text-align: center;
  color: #fff;
  
}

#video-page-2{
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}


/* ------------ */

/* test test */

.sprite-1 {
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: 738px;
  width: 100%;
  /* background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/doodle-sprite.png); */
  background-image: url('video/spritetest.png');
  background-repeat: no-repeat;
  background-position: 0 50%;

  
}