*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

.video-box{
    /* background-color: rgba(137, 43, 226, 0.486); */
    /* position: relative; */
    /* height: 100vh; */
    /* overflow: hidden; */
}

#video-page-1{
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}

#video-page-2{
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}